.top-body-wrapper
  .container.top-container.top-container--header
    .top-header-wrap
      %header.top-headline
        .top-headline__inner
          %h1.top-headline__logo
            %span.top-headline__logo-img
              全国のグルメ・レストランガイド 食べログ
          .top-headline__usermenu
            #welcome.js-welcome-wrapper
              %ul.user-menu.js-exec-welcome
                %li.user-menu__item
                  %a#open-message-notification.user-menu__target.user-menu__target--dropdown{:href => "#"}
                    %span.user-menu__text メッセージ
                    %span#messages.user-menu__badge{:style => "display:none;"} 0
                %li.user-menu__item
                  %a#open-message-notification.user-menu__target.user-menu__target--dropdown{:href => "#"}
                    %span.user-menu__text お知らせ
                    %span#messages.user-menu__badge{:style => "display:none;"} 0
                %li.user-menu__item 150pt
                %li.user-menu__item
                  %a.user-menu__target{:href => "#"}
                  %span.user-menu__text 予約確認
                %li.user-menu__item
                  %a.user-menu__target{:href => "#"} 行った・行きたい
                %li.user-menu__item
                  %a.user-menu__target{:href => "#"} マイページ
                %li.user-menu__item.user-menu__item--setting
                  %a#open-user-setting.user-menu__target.user-menu__target--dropdown.user-menu__target--user-image{:href => "#"}
                    %img{:alt => "Naoto241568", :height => "27", :src => "#", :width => "27"}/
      .top-header
        .top-header__visual.js-top-main-visual-image
          .top-header__overlay
            .bx-wrapper
              .bx-viewport
                %ul#js-top-slide-img.top-header__images
                  %li.top-header__image.top-header__image--slide01
                  %li.top-header__image.top-header__image--slide02
                  %li.top-header__image.top-header__image--slide03
                  %li.top-header__image.top-header__image--slide04
                  %li.top-header__image.top-header__image--slide05
                  %li.top-header__image.top-header__image--slide06
            .top-header__slide-box
        #js-top-main-visual.top-header__inner
          .top-header__lead
            %p.top-header__main-lead
              おいしいを見つけよう
            %p.top-header__sub-lead
              気のおけない仲間との乾杯も、特別な日のごちそうも。
              %br>/
              食べログであなたの思い出をより「おいしく」。

          .top-header__search
            #js-global-header-search.global-header-search
              .container.p-header-wrapper.p-header-wrapper--bottom
                .contents.contents--fixed
                  #suggest_datas{"data-area_datatype" => "", "data-area_id" => "", "data-lat" => "", "data-lng" => "", "data-multiple-suggest-flg" => "0", "data-no_suggest_flg" => "", :style => "display:none;"}
                  #multi-suggest{:style => "display:none;"}
                  #js-sa-user-input{"data-value" => "", :style => "display:none;"}
                  .p-header
                    %p.p-header__logo
                      %a.p-header__logo-img{:href => "#", :title => "食べログ トップへ"} 食べログ
                      / ここからメインコンテンツ
  .container.top-container.top-container--maincontents
    .contents.contents--fixed.topcontents--fixed
      .content-index-data{"data-type" => "top_announcements"}
        #top_announcements.top-annoucement
          .tabelog-info
            %p.tabelog-info__item
              %span.tabelog-info__label.tabelog-info__label--news お知らせ
              %a.tablog_announcement.tabelog-info__title.js-tablog_announcement{:href => "#", :target => "tablog_announcement"}
                全国ラーメンTOP100 「食べログ ラーメン 百名店 2018」を発表しました。
        .colum2.top-colum
          .colum2__left.top-colum__left
            .top-search
              %section.top-search__colum
                .top-search__heading
                  %h2.top-heading1.top-search__title お店、レストランを探す
                  .top-search__data-count
                    .navi-count 123456 店舗  26,666,123 口コミ
                .top-search__contents
                  .top-search__contents-title 都道府県から探す
                  .js-hotarea-icon.top-search__hotarea
                    %span.top-search__hotarea-link
                      %span 注目エリア
                    .top-search__hotarea-list
                      / ここに非同期で表示する要素を追加
                  %ul.top-search__mainarea-list
                    %li.top-search__mainarea-item.top-search__mainarea-item--tokyo
                      %a{ href: "#"}
                        %span.top-search__mainarea-text 東京
                    %li.top-search__mainarea-item.top-search__mainarea-item--osaka
                      %a{ href: "#"}
                        %span.top-search__mainarea-text 大阪
                    %li.top-search__mainarea-item.top-search__mainarea-item--kyoto
                      %a{ href: "#"}
                        %span.top-search__mainarea-text 京都
                    %li.top-search__mainarea-item.top-search__mainarea-item--aichi
                      %a{ href: "#"}
                        %span.top-search__mainarea-text 愛知
                    %li.top-search__mainarea-item.top-search__mainarea-item--fukuoka
                      %a{ href: "#"}
                        %span.top-search__mainarea-text 福岡
                  .top-search__place-all
                    .top-search__place-column
                      %dl.top-search__place-set
                        %dt.top-search__place-title 北海道・東北
                        %dd.top-search__place-list-box
                          %ul.top-search__place-list
                            %li.top-search__place-list-link
                              %a{ href: "#"} 北海道
                            %li.top-search__place-list-link
                              %a{ href: "#"} 青森
                            %li.top-search__place-list-link
                              %a{ href: "#"} 秋田
                            %li.top-search__place-list-link
                              %a{ href: "#"} 山形
                            %li.top-search__place-list-link
                              %a{ href: "#"} 岩手
                            %li.top-search__place-list-link
                              %a{ href: "#"} 宮城
                            %li.top-search__place-list-link
                              %a{ href: "#"} 福島
                      %dl.top-search__place-set
                        %dt.top-search__place-title 関東
                        %dd.top-search__place-list-box
                          %ul.top-search__place-list
                            %li.top-search__place-list-link
                              %a{ href: "#"} 東京
                            %li.top-search__place-list-link
                              %a{ href: "#"} 神奈川
                            %li.top-search__place-list-link
                              %a{ href: "#"} 埼玉
                            %li.top-search__place-list-link
                              %a{ href: "#"} 千葉
                            %li.top-search__place-list-link
                              %a{ href: "#"} 栃木
                            %li.top-search__place-list-link
                              %a{ href: "#"} 茨城
                            %li.top-search__place-list-link
                              %a{ href: "#"} 群馬
                      %dl.top-search__place-set
                        %dt.top-search__place-title 中部
                        %dd.top-search__place-list-box
                          %ul.top-search__place-list
                            %li.top-search__place-list-link
                              %a{ href: "#"} 愛知
                            %li.top-search__place-list-link
                              %a{ href: "#"} 岐阜
                            %li.top-search__place-list-link
                              %a{ href: "#"} 静岡
                            %li.top-search__place-list-link
                              %a{ href: "#"} 三重
                            %li.top-search__place-list-link
                              %a{ href: "#"} 新潟
                            %li.top-search__place-list-link
                              %a{ href: "#"} 山梨
                            %li.top-search__place-list-link
                              %a{ href: "#"} 長野
                            %li.top-search__place-list-link
                              %a{ href: "#"} 石川
                            %li.top-search__place-list-link
                              %a{ href: "#"} 富山
                            %li.top-search__place-list-link
                              %a{ href: "#"} 福井
                    .top-search__place-column.top-search__place-column--right
                      %dl.top-search__place-set
                        %dt.top-search__place-title 関西
                        %dd.top-search__place-list-box
                          %ul.top-search__place-list
                            %li.top-search__place-list-link
                              %a{ href: "#"} 大阪
                            %li.top-search__place-list-link
                              %a{ href: "#"} 兵庫
                            %li.top-search__place-list-link
                              %a{ href: "#"} 京都
                            %li.top-search__place-list-link
                              %a{ href: "#"} 滋賀
                            %li.top-search__place-list-link
                              %a{ href: "#"} 奈良
                            %li.top-search__place-list-link
                              %a{ href: "#"} 和歌山
                      %dl.top-search__place-set
                        %dt.top-search__place-title 中国・四国
                        %dd.top-search__place-list-box
                          %ul.top-search__place-list
                            %li.top-search__place-list-link
                              %a{ href: "#"} 岡山
                            %li.top-search__place-list-link
                              %a{ href: "#"} 広島
                            %li.top-search__place-list-link
                              %a{ href: "#"} 鳥取
                            %li.top-search__place-list-link
                              %a{ href: "#"} 島根
                            %li.top-search__place-list-link
                              %a{ href: "#"} 山口
                            %li.top-search__place-list-link
                              %a{ href: "#"} 香川
                            %li.top-search__place-list-link
                              %a{ href: "#"} 徳島
                            %li.top-search__place-list-link
                              %a{ href: "#"} 愛媛
                            %li.top-search__place-list-link
                              %a{ href: "#"} 高知
                      %dl.top-search__place-set
                        %dt.top-search__place-title 九州・沖縄
                        %dd.top-search__place-list-box
                          %ul.top-search__place-list
                            %li.top-search__place-list-link
                              %a{ href: "#"} 福岡
                            %li.top-search__place-list-link
                              %a{ href: "#"} 佐賀
                            %li.top-search__place-list-link
                              %a{ href: "#"} 長崎
                            %li.top-search__place-list-link
                              %a{ href: "#"} 熊本
                            %li.top-search__place-list-link
                              %a{ href: "#"} 大分
                            %li.top-search__place-list-link
                              %a{ href: "#"} 宮崎
                            %li.top-search__place-list-link
                              %a{ href: "#"} 鹿児島
                            %li.top-search__place-list-link
                              %a{ href: "#"} 沖縄
                  .top-search__morelink
                    %ul
                      %li.top-search__morelink-item
                        %a.c-link-circle{ href:"#"}
                          %span 海外のお店を探す
                      %li.top-search__morelink-item
                        %a.c-link-circle{ href:"#"}
                          %span 全国のお店を探す
            %section#js-timeline.top-timeline
              #timeline-header.top-timeline__heading
                %h3.top-text1.top-text.js-text-title
                  %span 新着口コミ
                .top-timeline__actions
                  / js処理
              .js-follow-banner
                %p.js-follow-analysts
                  / 要js処理
                  %span.follow-banner-contents
                    %span.follow-banner-icons
                      %img{:alt => "", :height => "42", :src => "#", :width => "106"}/
                    %span.follow-banner-title 好みのあう人をフォローすると、その人のオススメのお店から探せます。
              #js-timeline-contents.timeline-contents
                .timeline.timeline-body.js.timeline-box.is-visible
                  .timeline-inner
                    %p.timeline-date
                      %span.text-num.timeline__entry-date 2018/9/12
                    .timeline-post
                      .timeline-post-data
                        %span.timeline__post-img
                          %img{:alt => "食べログマガジン", :height => "50", :src => "https://tblg.k-img.com/images/tabelog_magazine_logo.svg", :width => "50"}/
                        %span.timeline__post-name 食べログマガジン
                      .timeline-post-item.timeline-matome
                        .timeline-matome__contents.js-magazine-area

          .colum2__right.top-colum__right
            .js-right-user-info
              .userdata
                .userdata-box
                  .userdata-box__header
                    .userdata-box__img.userdata-box__img--nologin
                      .userdata-box__img
                        %img{ width: "40", height: "40", alt: "ゲストさん", src: "images/avatar_nophoto.gif"}
                    .userdata-box__status.userdata-box__status--nologin
                      %p.userdata-box__name.userdata-box__name--nologin 会員未登録
                  %p.userdata-nologin-notice ログインすると、「行ったお店」「行きたいお店」を食べログ上で管理できるようになります。
                  %p.userdata-loginbtn
                    %a.btn-size.btn-detail.btn-sucess.js-login-window ログイン
                  .premium-style.premium-box
                    %p.userdata-text クレジットカードで初月無料
                    %a.p-mark.premium-btn{href: "#"} プレミアムサービスについて
              .userdata-search
                %p.userdata-search__title レビュアーを探す
                %form#FreeWord.js-free-word-user.userdata__user-search-form{"accept-charset" => "UTF-8", :action => "#", :method => "get", :name => "FreeWord"}
                  %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                  %input#PG{:name => "PG", :type => "hidden", :value => "1"}/
                  %input#pcd{:name => "pcd", :type => "hidden", :value => "0"}/
                  %input#LstPrf{:name => "LstPrf", :type => "hidden"}/
                  %input#LstAre{:name => "LstAre", :type => "hidden"}/
                  .userdata__user-search-rvwr
                  %input#sw.c-textfield.c-textfield--full.userdata__user-search-textfield.js-search-reviewer-name{:name => "sw", :placeholder => "レビュアー名", :type => "text", :value => ""}/
                  %input.btn-detail.userdata__user-search-btn{"data-disable-with" => "検索", :name => "commit", :type => "submit", :value => "検索"}/
                .userdata-search-link
                  %a-arrow{ href: "#"}
                    %i.fas.fa-angle-right
                    %span 全国のレビュアーから探す
              .userdata-start__action
                %a.btn-size.btn-detail 初めての方へ
            .feature-wrap
              .js-right-feature
                %section.feature-all
                  %h3.feature-name 特集
                  .feature-area
                    #ads-iframe
                      %iframe#ads-iframe
                    .feature-banner
                    .feature-info
                      %p.add-title ⭐️3.5以上の居酒屋特集
                      %p.add-resume 全国のオススメ店ご紹介！
                    .feature



