.top-body-wrapper
  .l-container.top-container.top-container--header
    .top-header-wrap
      %header.top-headline
        .top-headline__inner
          %h1.top-headline__logo
            %span.top-headline__logo-img 全国のグルメ・レストランガイド 食べログ
          .top-headline__usermenu
            #welcome.js-welcome-wrapper
      .top-header
        .top-header__visual.js-top-main-visual-image
          .top-header__overlay
          %ul#js-top-slide-img.top-header__images
            %li.top-header__image.top-header__image--slide01
            %li.top-header__image.top-header__image--slide02
            %li.top-header__image.top-header__image--slide03
            %li.top-header__image.top-header__image--slide04
            %li.top-header__image.top-header__image--slide05
            %li.top-header__image.top-header__image--slide06

