.location
  .location__left
    %ul
      %li.fa.fa-home
      = link_to shops_path, method: :get do
        %li 食べログ
      %li レストラン新規登録

  .location__right
    %ul
    = link_to '#' do
      %li (店舗数)店舗
    %li (口コミ数)口コミ

.main
  .main__heading レストラン新規登録(レストラン情報入力)

  .main__notice
    .main__notice__text
      レストランを追加する際には、レストラン情報が最新のものであることをご確認の上、入力してください。
      %br/
      また、当サイトの趣旨にあわないお店は管理側で判断し、削除する場合がございますので、ご了承ください。

  .main__rst-form
    .main__rst-form__title 店名
    %table.input


