.footer
  %ul.footer_logos
    %li.footer_logos__matome
      = image_tag "tabelog_matome.gif"
      .footer_logos__matome-text
        グルメキュレーションサイト
    %li.footer_logos__tabelog
      = image_tag "tabelog_magazine.gif"
      .footer_logos__tabelog-text
        毎日の外食が楽しくなるグルメ情報
    %li.footer_logos__reviewer
      = image_tag "footer_tabelog_user.gif"
      .footer_logos__reviewer-text
        食べログ グルメレビュアー
  .footer_links
    %ul.footer_links__texts1
      %li.footer_links__texts__1
        ヘルプ・お問い合わせ
      %li.footer_links__texts__2
        食べログの特長と便利な使い方
      %li.footer_links__texts__3
        口コミ・ランキングに対する取り組み
      %li.footer_links__texts__4
        FAQ
      %li.footer_links__texts__5
        集客サービス（飲食店・飲食企業様向け）について
      %li.footer_links__texts__6
        広告（メーカー・団体様等向け）について
    %ul.footer_links__texts2
      %li.footer_links__texts__7
        機能改善要望
      %li.footer_links__texts__8
        口コミガイドライン
      %li.footer_links__texts__9
        プレミアムサービス
      %li.footer_links__texts__10
        プレミアムサービス無料クーポン
      %li.footer_links__texts__11
        ワンコインランチクーポン（無料体験）
      %li.footer_links__texts__12
        利用規約
      %li.footer_links__texts__13
        個人情報保護方針
      %li.footer_links__texts__14
        企業情報
      %li.footer_links__texts__15
        サイトマップ
    %ul.footer_links__texts3
      %li.footer_links__texts__16
        キーワード一覧
      %li.footer_links__texts__17
        チェーン店一覧
  .footer_languages
    %ul.footer_language
      %li.footer_language__word
        言語
      %li.footer_language__english
        English
      %li.footer_language__chinese1
        Chinese
      %li.footer_language__chinese2
        Chinese
      %li.footer_language__hangre
        Hangre
  .footer_company
    .footer_company_box
      .footer_company__log
        =image_tag "logo_tabelog.svg"
      .footer_company__text
        Copyright (c)  ###.com All Rights Reserved. 無断転載禁止
