.dropdown.notification-dropdown
  %button.btn{ "data-toggle" => "dropdown", :type => "button"}
    %span.glyphicon.glyphicon-flag
      %i.fas.fa-user-check{"aria-hidden" => "true"}>
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
    %li.dropdown-header.text-center Menu
    %li.divider{:role => "separator"}
    %li.text-center
      = link_to 'フォロー中一覧',following_path(current_user)
    %li.text-center
      = link_to 'ログアウト', destroy_user_session_path, method: :delete
