#mypage-location-wrap
  #location-wrap
    #location
      %ul.location-bar
        %li
          %span= image_tag 'home_icon.png'
        %li.link
          食べログ
        %li
          %span= image_tag 'location_arrow.png'
        %li.link
          食べログレビュアー
        %li
          %span= image_tag 'location_arrow.png'
        %li.username
          itismorningさん

.mypage-header-wrap

  .mypage-header
    .mypage-header__cover
      #cover-image


