$main_orange: #ffc12a;
$sub_orange: #ff9600;
$font_blue: #0066cc;
$font_red: #c66;
<<<<<<< HEAD
=======
$font_green: #82ad24;
>>>>>>> master
$background: #fefae6;
$white: #fff;
$black: #000;
$font_gray: #595960;
