$main_orange: #ffc12a;
$font_blue: #0066cc;
$font_red: #c66;
$background: #fefae6;
$white: #fff;
$black: #000;
$sub_orange: #ff9600;
$font_green: #82ad24;
$background-gray: #a5bcd1;
$background-lightgray: #f1f4f8;
$gray-pipe: #eeece4;


