$main_orange: #ffc12a;
$sub_orange: #ff9600;
$lime_yellow: #FFFFDD;
$font_blue: #0066cc;
$font_red: #c66;
$font_bright_red: #FF0000;
$font_green: #82ad24;
$background: #fefae6;
$background-gray: #a5bcd1;
$background-lightgray: #f1f4f8;
$border_gray: #e7e3dc;
$white: #fff;
$black: #000;
$font_gray: #595960;

$newshop_line: #d6ceb4;
$newshop_title_background: #eeece4;
$newshop_background: #faf8f5;
$newshop_notice: #82ad24;
$grey: #d2d2d2;
$send_background: #9c0;
$send_border: #82ad24;

$shopindex_back: #eeece4;
$shopindex_grey: #e5e2da;
$shopindex_orange: #ffaa00;
$shopindex_border: #e0dccc;
$link_blue: #06c;
$index_red: #e06650;
$shop_border: #e1e1e1;
$shop_font: #797152;
