.user-menu__popup.user-menu__popup--notification.js-exec-notification-box {
  display: none;
}

#notification-sort {
  // display: none;
  top: 26px;
  right: -14px;
  width: 140px;
  .balloon {
    display: block;
    position: relative;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    background-color: #ffffff;

    .notification-sort__box {

      .notification-sort__tab {

        .notification-sort__text {
          color: black;
        }
      }
    }
  }
}



#menu {
  display: block;
  top: 26px;
  right: -14px;
  width: 140px;
  .balloon {
    display: block;
    position: relative;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    background-color: #ffffff;

    .setting-list{

      .setting-list__item{
        border-bottom: 1px solid #e1e1e1;

        .setting-list__target {
          display: block;
          margin: 0;
          padding: 8px 0 7px 18px;
          color: black;
        }
      }
    }
  }
}
