.header{
  height: 100px;
  border-top: 2px solid #fa0;
  border-bottom: 2px solid $background-lightgray;
  .headers{
    width: 980px;
    margin: 0 auto;
    .header_upper{
      font-size: 12px;
      height: 30px;
      padding: 5px 0;
      font-weight: bold;
      .header_upper__left{
        float: left;
        line-height: 30px;
        .header_upper__left-shopname{
          color: #959599;
        }
        .header_upper__left-location{
          color: #959599;
          margin-left: 10px;
        }
      }
      .header_upper__right{
        float: right;
        ul.upper__right-list{
          display: flex;
          color: $font_blue;
          line-height: 30px;
          li.upper__right-list__message{
            margin: 0 10px 0 5px;
          }
          li.upper__right-list__notice{
            margin: 0 10px 0 5px;
          }
          li.upper__right-list__tpoint{
            margin: 0 10px 0 5px;
          }
          li.upper__right-list__confirm{
            margin: 0 10px 0 5px;
          }
          li.upper__right-list__gone{
            margin: 0 10px 0 5px;
          }
          li.upper__right-list__mypage{
            margin: 0 10px 0 5px;
          }
          li.upper__right-list__avatar{
            margin: 0 10px 0 5px;
          }
          li.upper__right-list__avatar{
            img{
              width: 35px;
              height: 35px;
              border-radius: 3px 3px;
            }
          }
          li.upper__right-list__login {
            margin: 0 10px 0 5px;
          }
        }
      }
    }
    .header_down{
      margin-top: 10px;
      height: 60px;
      margin-bottom: 10px;
      display: flex;
      .header_down__left{
        img{
          width:135px;
        }
      }
      .header_down__right{
        margin-top: 5px;
        margin-left: 15px;
        #search{
          border: 1px solid #d6ceb4;
          border-radius: 3px;
          height: 34px;
          width: 770px;
          padding-left: 10px;
        }
        button.header_search{
          border: 1px solid #f3980a;
          border-radius: 3px;
          height: 34px;
          width: 48px;
          margin-top: 1px;
          background-color: #ffc12a;
          i.fa.fa-search{
            color: $white;
          }
        }
      }
      ul#hitlist{
      width: 400px;
      border-radius: 3px 3px;
      position: absolute;
      top: 415px;
      left: 300px;
      li#shoplist{
        box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.1) inset;
        background-color: $white;
        padding: 10px;
        cursor: pointer;
      }
    }
    }
  }
}
