.shops-reviews-wrap {
          .shops-review-post {
            border: 1px solid $border_gray;
            border-radius: 5px;
            margin-top: 15px;
            width: 60%;
            margin: 0 auto;

            .shop-review-post__user-info {
              display: flex;
              height: 50px;
              padding: 10px 0;
              margin: 0 10px;
              border-bottom: 1px solid $background-lightgray;

              .shop-review-post__user-info--avatar {
                img{
                  height: 30px;
                  width: 30px;
                  border-radius: 3px;
                }
              }
              .shop-review-post__user-info--right {
                margin-left: 10px;
                font-size: 11px;

                .shop-review-post__user-info--username {
                  display: flex;

                  .review-user-name {
                    font-weight: bold;
                    font-size: 12px;
                  }
                  .reviewer-follower-number {
                    color: $font_red;
                    font-weight: bold;
                  }
                }
                .shop-review-post__user-info--moreinfo {
                }
              }
            }
            .shop-review-post__rst-review {
              border-bottom: 1px solid $background-lightgray;
              padding: 15px 12px 10px;
              position: relative;

              .shop-review-post__rst-review--score-data {
                padding: 0 0 3px;

                .shop-review-score {
                  display: flex;

                  .shop-review-rating-star {
                    font-size: 17px;
                  }
                  .shop-review-rating-point {
                    color: $font_bright_red;
                    font-size: 17px;
                    font-weight: bold;
                  }
                  ul.shop-review-rate-detail {
                    display: flex;
                    font-size: 10px;
                    color: $font_gray;
                    padding: 7px 0 0 10px;
                    li {
                      font-size: 10px;
                      color: $font_gray;
                      p {
                        border-right: 1px dotted $font_gray;
                        padding: 0 5px;
                        strong {
                          font-weight: bold;
                          padding-left: 2px;
                        }
                      }
                    }
                    li.drink-rate {
                      p.drink-rate {
                        border-right: none;
                      }
                    }
                  }
                  ul:before {
                    content:'[';
                  }
                  ul:after {
                    content: ']';
                  }
                }
              }
              .shop-review-count {
                position: absolute;
                top: 12px;
                right: 16px;
                border: 1px solid $newshop_background;
                border-radius: 2px;
                font-size: 13px;
                font-weight: bold;
                padding: 5px;
                background-color: $newshop_background;
              }
              .shop-review-price {
                padding-top: 3px;

                .shop-review-used-price {
                  display: flex;
                  font-size: 10px;
                  color: $font_gray;
                }
                .shop-price-range {
                  padding-left: 5px;
                }
              }
            }
            .shop-review-post-contents {
              border-bottom: 1px solid $background-lightgray;

              .shop-review-one-time {
                margin: 0 15px 10px 15px;
                padding: 0 0 10px 0;
                border-bottom: 1px solid $background-lightgray;
                position: relative;

                p.shops-shop-review-visited-month {
                  font-size: 12px;
                  margin-top: 10px;
                }
                .shop-review-post__rst-review--score-data {
                  padding: 0 0 3px;

                  .shop-review-score {
                    display: flex;

                    .shop-review-rating-point {
                      color: $font_bright_red;
                      font-size: 12px;
                      font-weight: bold;
                      padding: 7px 0 0 0;
                    }
                    ul.shop-review-rate-detail {
                      display: flex;
                      font-size: 10px;
                      color: $font_gray;
                      padding: 7px 0 0 10px;
                      li {
                        font-size: 10px;
                        color: $font_gray;
                        p {
                          border-right: 1px dotted $font_gray;
                          padding: 0 5px 0 10px;
                          strong {
                            font-weight: bold;
                            padding-left: 2px;
                          }
                        }
                      }
                      li.drink-rate {
                        p.drink-rate {
                          border-right: none;
                        }
                      }
                    }
                    ul:before {
                      content:'[';
                    }
                    ul:after {
                      content: ']';
                    }
                    .shop-review-price {
                      padding-top: 6px;
                      margin: 0 0 0 15px;
                      .shop-review-used-price {
                        display: flex;
                        font-size: 10px;
                        color: $font_gray;
                        .shop-price-range {
                          font-weight: bold;
                        }
                      }
                    }
                  }
                }
                .shop-review-count {
                  position: absolute;
                  top: 5px;
                  right: 12px;
                  border: 1px solid $background-lightgray;
                  border-radius: 2px;
                  font-size: 9px;
                  padding: 0 3px;
                }
              }
              .shop-review-post__rst-review--content {

                .shop-review-title {
                  font-size: 16px;
                  font-weight: bold;
                  color: $black;
                  padding: 5px 0 0 15px;
                  a {
                    border-bottom: 1px dotted $font_gray;
                  }
                }
                .shop-review-text {
                  padding: 15px 15px 5px;
                  width: 100%;
                  position: relative;
                  p {
                    font-size: 13px;
                    line-height: 20px;
                    padding-bottom: 15px;
                  }
                }
              }
              .shop-review-post-contents-images {
                padding: 5px 15 10px 15;
                ul {
                  display: flex;
                  justify-content: center;
                  li {
                    padding: 0 8px 0 0;
                    img {
                      height: 118px;
                      width: 118px;
                      &:empty {
                        display: none;
                      }
                    }
                  }
                }
              }
              .shop-review-post-like-wannago {
                height: 100px;
                background-color: $newshop_background;
                margin: 15px;

                .shop-review-post-like-wannago__buttons {
                  padding: 10px 15px;
                  display: flex;
                  justify-content: space-between;

                  button.shop-review-post-like-wannago__buttons--like {
                    background-color: $sub_orange;
                    color: $white;
                    padding: 2px 10px 2px 10px;
                    font-weight: bold;
                    border-radius: 5px;
                  }
                  button.shop-review-post-like-wannago__buttons--wannago {
                    color: $font_gray;
                    padding: 2px 10px 2px 10px;
                    font-weight: bold;
                    border-radius: 3px;
                  }
                }
                .shop-review-post-who-likes {
                  display: flex;
                  padding: 0 15px 0px;

                  .shop-review-post-who-likes__count {
                    margin-right: 10px;
                    display: flex;
                    p {
                      line-height: 25px;
                    }
                    p.number-who-likes {
                      color: $font_bright_red;
                    }
                  }
                  .shop-review-post-who-likes__icons {
                    display: flex;
                    img {
                      height: 22px;
                      width: 22px;
                      margin-left: 3px;
                      border-radius: 3px;
                      border: solid 1px black;
                    }
                  }
                }
                .shop-review-post-who-wannago {
                  display: flex;
                  padding: 0 15px 5px;

                  .shop-review-post-who-wannago__count {
                    margin-right: 10px;
                    display: flex;
                    p {
                      line-height: 25px;
                    }
                    p.number-who-wannago {
                      color: $font_bright_red;
                    }
                  }
                  .shop-review-post-who-wannago__icons {
                    display: flex;
                    img {
                      height: 22px;
                      width: 22px;
                      margin-left: 3px;
                      border-radius: 3px;
                      border: solid 1px black;
                    }
                  }
                }
              }
              .shop-review-post-contents-notice {
                border-top: 1px solid $background-lightgray;
                display: flex;
                height: 40px;
                font-size: 11px;
                background-color: $newshop_background;
                padding: 12px 15px 12px 15px;

                p.shop-notice-message1 {
                  color: $font_green;
                }
                p.shop-notice-message2 {
                  margin-left: 5px;
                  color: $font_blue;
                }
              }
            }
          }
        }
