.shop_view{
  width: 100vw;
  .shop_views{
    width: 980px;
    margin: 0 auto;
    .location-link{
      font-size: 12px;
      color: $font_blue;
      height: 50px;
      line-height: 50px;
      img {
        vertical-align: middle;
      }
    }
    .shop_subheader{
      border-top: 1px solid $newshop_line;
      height: 170px;
      display: flex;
      .shop_subheader-left{
        width: 700px;
        height: 170px;
        .shop_views-namespace{
          height: 100px;
          border-bottom: 1px solid $newshop_line;
          &__shopname{
            font-size: 24px;
            color: $black;
            font-weight: bold;
            text-align: left;
            padding: 15px 0 5px 0 ;
          }
          &__ratestar{
            font-size: 24px;
            width: 190px;
            float: left;
          }
          &__icons{
            font-size: 13px;
            margin-top: 7px;
            float: left;
            padding-left: 5px;
            font-weight: bold;
          }
        }
        .shop_views-detailspace{
          height: 70px;
          &__station{
            width: 130px;
            padding: 10px 0 5px 0;
            font-size: 12px;
            float: left;
          }
          &__genre{
            margin-left: 10px;
            padding: 10px 0 5px 0;
            font-size: 12px;
            float: left;
          }
          &__average{
            clear: both;
            padding: 5px 0 10px 0;
            font-size: 12px;
          }
          &__schedule{
            margin-left: 10px;
            margin-top: 5px;
            padding: 5px 0 10px 0;
            font-size: 12px;
          }
          &__moredetail{
            text-align: right;
            float: right;
            margin-right: 10px;
          }
        }
      }
      .shop_subheader-right{
        width: 280px;
        .shop_views-buttons{
          padding: 4px 0px 5px 5px;
          background-color: $shopindex_back;
          width: 270px;
          margin-top: 13px;
          border-radius: 3px 3px;
          .button.shop-views{
            display: flex;
            .shop-views__gonebtn{
              color: $black;
              background-color: $white;
              width: 93px;
              font-weight: bold;
              border: 1px solid $newshop_line;
              border-radius: 3px 3px;
              text-align: center;
              a:link {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                span {
                  line-height: 30px;
                }
              }
            }
            .shop-views__wannabtn{
              margin-left: 7px;
              color: $black;
              background-color: $white;
              width: 93px;
              font-weight: bold;
              border-radius: 3px 3px;
              border: 1px solid $newshop_line;
              text-align: center;
              a:link {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                span {
                  line-height: 30px;
                }
              }
            }
            .shop-views__post-btn{
              margin-left: 7px;
              color: $white;
              background-color: $send_border;
              width: 60px;
              font-weight: bold;
              border-radius: 3px 3px;
              border: 1px solid $newshop_line;
              text-align: center;
              a:link {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                span {
                  line-height: 30px;
                }
              }
            }
          }
          button.shop-views__recommend{
            color: $background-gray;
            background-color: white;
            padding: 7px;
            margin-top: 5px;
            width: 260px;
            font-weight: bold;
            border-radius: 3px 3px;
          }
        }
      }
    }
    .shop_lists{
      height: 45px;
      ul.header_list{
        height: 45px;
        border: 1px solid $newshop_line;
        border-bottom: 3px solid $shop_views_navbar;
        display: flex;
        li.menu-shop_lists__top{
          border-right: 1px solid $newshop_line;
          width: 196px;
          font-weight: bold;
          text-align: center;
          line-height: 45px;
          font-size: 14px;
          a:link {
            display: block;
            width: 100%;
            text-decoration: none;
          }
        }
        li.menu-shop_lists__menu{
          border-right: 1px solid $newshop_line;
          width: 196px;
          font-weight: bold;
          text-align: center;
          line-height: 45px;
          background-color: $shop_views_navbar;
          color: white;
          font-size: 14px;
        }
        li.menu-shop_lists__image{
          border-right: 1px solid $newshop_line;
          width: 196px;
          font-weight: bold;
          text-align: center;
          line-height: 45px;
          font-size: 14px;
        }
        li.menu-shop_lists__review{
          border-right: 1px solid $newshop_line;
          width: 196px;
          font-weight: bold;
          text-align: center;
          line-height: 45px;
          font-size: 14px;
          a:link {
            display: block;
            width: 100%;
            text-decoration: none;
          }
        }
        li.menu-shop_lists__map{
          width: 196px;
          font-weight: bold;
          text-align: center;
          line-height: 45px;
          font-size: 14px;
        }
      }
    }
    .shop_main{
      display: flex;
      width: 100%;
      margin-top: 10px;
      .shop_main-left{
        padding-right: 20px;
        padding-left: 10px;
        width: 700px;
        .shop-menu {
          margin-top: 20px;
          .shop-menu-update-date {
            height: 30px;
            border-bottom: 1px solid $newshop_line;
            padding-right: 10px;
            p {
              font-size: 12px;
              font-weight: bold;
              color: $background-gray;
              float: right;
            }
          }
          .shop-menu-title {
            margin-top: 20px;
            display: flex;
            justify-content:space-between;
            padding-bottom: 10px;
            .shop-menu-title__name {
              font-size: 16px;
              font-weight: bold;
            }
            .shop-menu-title__display-price {
              font-size: 12px;
              font-weight: bold;
              color: $shop_show_gray;
            }
          }
          .shop-menu-lists {
            border-bottom: 1px solid $newshop_line;
            padding-bottom: 30px;
            li.shop-menu-list {
              display: flex;
              justify-content:space-between;
              width: 100%;
              padding: 20px 0;
              border-bottom: 1px dotted $newshop_line;
              .shop-menu-image {
                margin: 0 10px;
                height: 120px;
                width: 120px;
                &:empty {
                  display: none;
                }
              }
              .shop-menu-content {
                width: 100%;
                .shop-menu-content-upper {
                  width: 100%;
                  .shop-menu-name {
                    float: left;
                    font-size: 14px;
                    font-weight: bold;
                  }
                  .shop-menu-price {
                    float: right;
                    p.shop-menu-price-number {
                    font-size: 14px;
                    color: $font_gray;
                    font-weight: bold;
                    }
                  }
                }
                .shop-menu-content-bottom {
                  clear: both;
                  padding-right: 70px;
                  .shop-menu-detail {
                    font-size: 13px;
                    color: $shop_show_gray;
                    &:empty {
                      display: none;
                    }
                  }
                }
              }
            }
            li:last-child {
                border-bottom: none;
              }
          }
        }
        .shop_mainleft-underbox{
          height: 130px;
          background-color: $background;
          margin-top: 20px;
          .shop_mainleft-underbox_upper{
            display: flex;
            width: 700px;
            button.shop_mainleft-underbox__mailbtn{
              margin-left: 45px;
              margin-top: 25px;
              height: 35px;
              font-weight: bold;
              background-color: white;
              border-radius: 3px 3px;
              border: 1px solid $newshop_line;
              width: 280px;
            }
            button.shop_mainleft-underbox__copybtn{
              margin-left: 30px;
              margin-top: 25px;
              height: 35px;
              font-weight: bold;
              color: white;
              background-color: #b6c9da;
              border-radius: 3px 3px;
              border: 1px solid #b6c9da;
              width: 280px;
            }
          }
          button.shop_mainleft-underbox__blogbtn{
            margin-left: 45px;
            margin-top: 10px;
            font-weight: bold;
            color: $font_blue;
            height: 35px;
            width: 590px;
            border-radius: 3px 3px;
            border: 1px solid #b6c9da;
            text-align: left;
          }
        }
        .shop_mainleft-notice{
          height: 60px;
          border-bottom: 1px solid $newshop_line;
          .shop_mainleft-notice__text{
            margin-top: 10px;
            font-weight: bold;
            color: #82ad24;
            font-size: 12px;
            .shop_mainleft-notice__formlink{
              font-weight: bold;
              color: $font_blue;
              font-size: 12px;
            }
          }
        }
      }
      .shop_main-right{
        margin-top:15px;
        width: 300px;
        .shop_mainright-telphone{
          height: 70px;
          display: flex;
          border-bottom: 1px solid $newshop_line;
          border-top: 1px solid $newshop_line;
          .shop_mainright-telephone__number{
            font-size: 20px;
            font-weight: bold;
            line-height: 60px;
            width: 210px;
          }
          button.telephone__sendbtn{
            width: 70px;
            height: 30px;
            padding: 3px;
            color: black;
            background-color: white;
            border-radius: 3px 3px;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
