.follow-container {
  height: 800px;
  margin: 0 auto;
  border-top: 1px solid #595960;
  display: block;
  border-bottom: 1px solid #595960;
  .follow-contents {
    margin: 0 auto;
    width: 980px;
    height: 800px;
    .follow-heading {
      font-weight: bold;
      font-size: 25px;
      color: black;
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #e0dccc;
    }
    .follow-grouping {
      border-bottom: 1px solid #e0dccc;
      .follow-rvw-newest{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        float: left;
      }
      .follow-view-sort {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .js-user-rvwr-contents {
      margin-top: 10px;
      .follow-rvwr-list {
        display: table;
        border-spacing: 15px 5px;
        border-collapse: separate;
        width: 1020px;
        height: 100%;
        overflow: visible;
        table-layout: fixed;
        min-height: 21.4rem;
        .follow-rvwr-list__box {
          display: table-row;
          height: 100%;
          .follow-rvwr-list__item {
            display: table-cell;
            height: 100%;
            vertical-align: top;
            width: 320px;
            height: 225px;
            float: left;
            padding-bottom: 15px;
            padding-right: 10px;
            .follow-rvwr-item {
              position: relative;
              cursor: pointer;
              border: solid 1px #eeece4;
              border-radius: 5px;
              height: 100%;
              box-sizing: border-box;
              background: #fff;
              .follow-rvwr-item__header {
                position: relative;
                .follow-rvwr-item__cover {
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                  .rvwr-cover-img {
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    margin-top: -45px;
                    margin-left: -150px;
                    .img-frame {
                      overflow: hidden;
                      position: relative;
                      width: 980px;
                      height: 340px;
                      .up-image {
                        position: absolute;
                        width: 980px;
                        left: 0px;
                        top: 0px;
                      }
                    }
                  }
                }
                .follow-rvwr-item__user-img {
                  position: absolute;
                  bottom: -10px;
                  left: 12px;
                  .rvwr-user-img__box {
                    padding: 3px;
                    border-radius: 5px;
                    .user-image {
                      border-radius: 5px;
                    }
                  }
                }
                .follow-rvwr-item__page-name {
                  position: absolute;
                  bottom: 10px;
                  left: 95px;
                  width: 64%;
                  color: #fff;
                  font-weight: bold;
                }
              }
              .follow-rvwr-item__contents {
                padding: 10px 12px 12px;
                .follow-rvwr-item__contents-head {
                  display: table;
                  border-spacing: 0;
                  width: 100%;
                  .follow-rvwr-item__status {
                    display: table-cell;
                    vertical-align: middle;
                    word-break: break-all;
                    .follow-rvwr-item__status-text {
                      padding: 0.8em 0 0.5em;
                      border-bottom: solid 1px #eeece4;
                      line-height: 1.2;
                      margin-bottom: 0.8rem;
                      .rvwr-nickname {
                        color: #13131e;
                        font-weight: bold;
                        line-height: 1.3;
                      }
                      .follow-rvwr-item_attr {
                        color: #949499;
                        font-size: 1rem;
                      }
                    }
                  }
                  .follow-rvwr-item__follow {
                    display: table-cell;
                    padding-left: 14px;
                    width: 1%;
                    text-align: right;
                    vertical-align: middle;
                  }
                }
                .follow-rvwr-item__log-count {

                }
                .follow-rvwr-item__lastupdate {
                  position: absolute;
                  right: 12px;
                  bottom: 12px;
                  color: #e64c30;
                  .follow-rvwr-item__lastupdate.rf-today {
                    color: #e64c30;
                  }
                  .follow-rvwr-item__lastupdate.today-highlight {
                    padding: 3px 3px 2px;
                    background-color: #fcf4ce;
                    font-size: 1rem;
                  }
                }
                }
              }
            }
          }
        }
      }
    }
  }
