.follower-container {
  height: 800px;
  margin: 0 auto;
  border-top: 1px solid #595960;
  display: block;
  border-bottom: 1px solid #595960;
  .follower-contents {
    margin: 0 auto;
    width: 980px;
    height: 800px;
    .follower-heading {
      font-weight: bold;
      font-size: 25px;
      color: black;
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #e0dccc;
    }
    .follower-grouping {
      border-bottom: 1px solid #e0dccc;
      .follower-rvw-newest{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        float: left;
      }
      .follower-view-sort {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .js-user-rvwr-contents {
      margin-top: 10px;
      .follower-rvwr-list {
        display: table;
        border-spacing: 15px 5px;
        border-collapse: separate;
        width: 1020px;
        height: 100%;
        overflow: visible;
        table-layout: fixed;
        min-height: 21.4rem;
        .follower-rvwr-list__box {
          display: table-row;
          height: 100%;
          .follower-rvwr-list__item {
            display: table-cell;
            height: 100%;
            vertical-align: top;
            width: 320px;
            height: 250px;
            float: left;
            padding-bottom: 15px;
            padding-right: 10px;
            .follower-rvwr-item {
              position: relative;
              cursor: pointer;
              border: solid 1px #eeece4;
              border-radius: 5px;
              height: 100%;
              box-sizing: border-box;
              background: #fff;
              .follower-rvwr-item__header {
                position: relative;
                .follower-rvwr-item__cover {
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                  .rvwr-cover-img {
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    margin-top: -45px;
                    margin-left: -150px;
                    .img-frame {
                      overflow: hidden;
                      position: relative;
                      width: 980px;
                      height: 340px;
                      .up-image {
                        position: absolute;
                        width: 980px;
                        left: 0px;
                        top: 0px;
                      }
                    }
                  }
                }
                .follower-rvwr-item__user-img {
                  position: absolute;
                  bottom: -10px;
                  left: 12px;
                  .rvwr-user-img__box {
                    padding: 3px;
                    border-radius: 5px;
                    .user-image {
                      border-radius: 5px;
                    }
                  }
                }
              }
                .follower-rvwr-item__page-name {
                  position: absolute;
                  bottom: 10px;
                  left: 95px;
                  width: 64%;
                  color: #fff;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
