.top-lunch-search {
  border-bottom: 1px solid $border-bottom;
  margin-top: 3rem;
  padding-bottom: 3rem;
  .top-heading2 {
    color: #13131e;
    padding-left: 1.5rem;
    font-size: 1.4rem;
  }
  .top-lunch-search__list {
    margin-top: 1.5rem;
    .top-lunch-search__item {
      display: inline-flex;
      line-height: 1;
      font-size: 1.3rem;
      margin-right: 0.2rem;
    }
    .top-lunch-search__item:first-child::before {
      border: none;
      padding-left: 0;
    }
    .top-lunch-search__item::before {
      display: inline-block;
      border-left: dotted 1px #e0dccc;
      content: '';
      padding-left: 0.6rem;
      height: 1.1rem;
    }
  }
}
.top-kodawari-search {
  margin-top: 3rem;
  .top-heading2 {
    color: #13131e;
    padding-left: 1.5rem;
    font-size: 1.4rem;
  }
}
