.top-timeline:before, .top-timeline:after {
  display: block;
  overflow: hidden;
  content: "";
}
.top-timeline {
  margin-top: 4rem;
  .top-timeline__heading {
    border-top: 2px solid $gray-pipe;
    padding-top: 2.6rem;
  }
  .top-timeline__heading:before, .top-timeline__heading:after {
    display: block;
    overflow: hidden;
    content: "";
    .top-text {
      float: left;
    }
    .top-text1 {
      color: #13131e;
      line-height: 1;
      font-size: 2rem;
      }
    }
  }

// 以下よりtimeline
.timeline-contents {
  position: relative;
  .timeline {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 22px 0;
    opacity: 0;
    .timeline-inner {
      position: relative;
      .timeline-date {
        position: relative;
        min-height: 1em;
        line-height: 1;
        margin-bottom: 1.2rem;
        .timeline__entry-date {
          color: #949499;
          float: right;
          margin-right: 5px;
          font-size: 1.1rem;
        }
      }
      .timeline-post {
        display: flex;
        align-items: flex-start;
        position: relative;
        .timeline-post-data {

        }
      }
    }
  }
}
