

body:not(.is-jack-append) .rsttop-headline:not(:hover) .rsttop-headline__usermenu .p-user-menu__target {
    color: #fff;
}

.rsttop-headline__usermenu.p-user-menu__item {
    margin-top: -5px;
}

body:not(.is-jack-append) .rsttop-headline:not(:hover) .rsttop-headline__usermenu .p-user-menu__text {
    color: #fff;
}

.top-header__inner {
  position: relative;
  margin: 0 auto;
  width: 1120px;
  min-width: 1120px;
  height: 540px;
  z-index: 10;
  .top-header__lead {
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
      .top-header__main-lead {
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.02em;
        line-height: 1.4;
        font-size: 5.4rem;
        }
        .top-header__sub-lead {
          margin-top: 9px;
          text-align: center;
          letter-spacing: 0.1em;
          line-height: 1.7;
          margin-left: 1.1rem;
          font-size: 2rem;
      }
    }
    .top-header__visible-btn-wrapper.is-active {
      cursor: pointer;
    }
    .top-header__visible-btn-wrapper {
      position: absolute;
      right: 0;
      bottom: 55px;
      left: 0;
      margin: 0 auto;
      width: 50px;
      height: 45px;
      }
    .top-header__search {
      position: absolute;
      bottom: 135px;
      right: 0;
      left: 0;
      .global-header-search {
        padding-top: 0px;
      .container.p-header-wrapper.p-header-wrapper--bottom {
        z-index: 1;
        margin: 0 auto;
        padding: 0;
        border-radius: 3px;
        width: 875px;
        min-width: 875px;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        .top-header__search.global-header-search:not(.is-scroll).contents.contents--fixed {
          width: 875px;
          min-width: 875px;
          }
        }
      }
    }
}
// ここからメインコンテンツ
.top-container.top-container--maincontents {
  padding-top: 20px;
  .top-container.top-container {
    min-width: 1120px;
      .top-contents {
        position: relative;
        z-index: 1;
        min-width: 1120px;
        padding: 0;
    }
  }
  .top-annoucement {
    margin: 1.7rem 0 3.7rem;
    }
  .top-colum {
    margin-top: 20px;
    .top-colum__left {
      width: 830px;
      min-width: 830px;
    }
    .top-colum__right {
      width: 260px;
      min-width: 260px;
      .js-right-user-info {
        .userdata {
          border-radius: 3px;
          background-color: #f4f4f4;
          padding: 1.2rem;
          .userdata-box {
            border: 1px solid #e1e1e1;
            border-radius: 3px;
            background-color: #fff;
            padding: 1.5rem 1.2rem;
            .userdata-box__header {
              display: table;
              width: 100%;
              table-layout: fixed;
              height: 40px;
              .userdata-box__img.userdata-box__img--nologin {
                width: 50px;
                .userdata-box__img {
                  padding: 4px;
                  border: 1px solid #e1e1e1;
                  border-radius: 7px;
                  }
                }
              .userdata-box__status {
                  display: table-cell;
                  vertical-align: top;
                  padding-left: 5px;
              }
                .userdata-box__name.userdata-box__name--nologin {
                  font-size: 1.4rem;
                }
              }
              .userdata-nologin-notice {
                margin: 1rem 0.2rem;
                font-size: 1.1rem;
              }
            }
            }
          }
        }
        .userdata-user-search {
          border-top: 1px solid #eeece4;
          margin-top: 2rem;
          padding-top: 2rem;
        }
      }
    }
