.want-link{
  .want-go{
    .fa.fa-thumbtack {
      font-size: 110%;
      background-color: #fff;
      color: #595960;
      box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
      vertical-align: middle;
      line-height: 30px;
      border-radius: 3px 3px;
      width: 93px;
      height: 100%;
      text-align: center;
      border: none;
    }
    .fas.fa-thumbtack {
      font-size: 110%;
      background-color: #458bbd;
      color: #ff9600;
      box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
      vertical-align: middle;
      line-height: 30px;
      border-radius: 3px 3px;
      width: 93px;
      height: 100%;
      text-align: center;
      border: none;
      position: relative;
      font-weight: bold;
    }
  }
}
