@import "./reset" ;
@import "./variable" ;
@import "./color" ;
@import "./user-resistration" ;
@import "./shops" ;


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, output, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, main, summary, time, mark, audio, video, embed {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}


body {
    color: #595960;
    font-family: "メイリオ","Meiryo","Hiragino Sans","ヒラギノ角ゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    background-color: #fff;
}


html {
  font-size: 62.5%;
}

head {
  display: none;
}

div,p{
  word-wrap: break-word;
  overflow-wrap: break-word;
}

ol, ul {
    list-style: none;
}

li {
    list-style: inherit;
}

.l-container{
  width: 100%;
  box-sizing: border-box;
}
