.location{
  margin: 0 auto;
  width: 980px;
  padding: 15px 0;
  height: 15px;
  font-size: 92%;
    &__left{
      ul {
        list-style: none;
        float:left;
        li{
          display: inline-block;
        }
      }
    }
    &__right{
      float: right;
      ul{
        list-style: none;
      }
        li{
          display: inline-block;
        }
    }
}

.content{
  margin: 0 auto;
  width: 980px;
}

.content__side{
  float: left;
  width: 190px;
  &__top{
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    background-color: $shopindex_back;
    &__area{
      position: relative;
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-radius: 4px;
      box-shadow: 0 0 1px 1px rgba(19,19,30,0.1);
      background: $white;
      &__header{
        padding: 14px 2rem 10px 10px;
        color: $black;
        font-size: 15px;
        font-weight: bold;
        }
      &__main{
        background-color: rgb(254, 250, 230);
        padding: 15px 10px 14px;
        border-top: solid 1px $shopindex_grey;
        border-bottom: solid 1px $shopindex_grey;
        border-left: solid 1px $shopindex_orange;
        font-weight: bold;
        font-size: 15px;
      }
      p.box_area {
        display: none;
        position: absolute;
        padding: 16px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: #333;
        color: #fff;
      }
      p.box_area:after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -10px;
        border: solid transparent;
        border-color: rgba(51, 51, 51, 0);
        border-bottom-color: #333;
        border-width: 10px;
        pointer-events: none;
        content: " ";
      }
      &__footer{
        padding: 12px 2px;
        text-align: center;
        margin: 0 auto;
        text-decoration: none;
        a.target{
          font-size: 11px;
          text-decoration: none;
        }
      }
    }
    &__genre{
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-radius: 4px;
      box-shadow: 0 0 1px 1px rgba(19,19,30,0.1);
      background: $white;
      &__header{
        padding: 14px 2rem 10px 10px;
        color: $black;
        font-size: 15px;
        font-weight: bold;
      }
      &__main{
        background-color: rgb(254, 250, 230);
        padding: 15px 10px 14px;
        border-top: solid 1px $shopindex_grey;
        border-bottom: solid 1px $shopindex_grey;
        border-left: solid 1px $shopindex_orange;
        font-weight: bold;
        font-size: 15px;
      }
      p.box_genre {
        display: none;
        position: absolute;
        padding: 16px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: #333;
        color: #fff;
      }
      p.box_genre:after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -10px;
        border: solid transparent;
        border-color: rgba(51, 51, 51, 0);
        border-bottom-color: #333;
        border-width: 10px;
        pointer-events: none;
        content: " ";
      }
    }
  }
}

.content__main{
  float: right;
  width: 770px;
  &__header{
    padding: 18px 20px 20px;
    border-top: 3px solid $shopindex_border;
    background-color: $newshop_background;
    &__title{
      span.title{
        font-size: 17px;
        font-weight: bold;
      }
      span.count{
        padding-left: 5px;
        font-weight: bold;
        font-size: 16px;
      }
      span.unit{
        font-weight: bold;
        font-size: 12px;
      }
    }
    a.search_form{
      color: $link_blue;
      text-decoration: none;
      float: right;
      font-size: 12px;
    }
  }
}

.content__main{
  ul.nav.nav-tabs{
    padding: 0 20px;
    border-bottom: 1px solid $shopindex_border;
    width: 100%;
    box-shadow: 1px $shopindex_back;
    background-color: $newshop_background;
    height: 49px;
    cursor: pointer;
    li.nav-item{
      padding-top: 1em;
      font-size: 13px;
      border-left: 1px solid $shopindex_border;
      width: 180px;
    }
    li.nav-item.origin{
      background-color: $white;
      border-top: 1px solid $index_red;
      a.nav-link{
        color: $index_red;
        font-weight: bold;
        text-align: center;
      }
    }
    li.nav-item.rank{
      border-top: 1px solid $shopindex_border;
      width: 180px;
      a.nav-link{
        color: $black;
        text-align: center;
      }
    }
    li.nav-item.review{
      border-top: 1px solid $shopindex_border;
      border-right: 1px solid $shopindex_border;
      width: 180px;
      a.nav-link{
        color: $black;
        text-align: center;
      }
    }
  }
}

.content__main__list{
  padding-top: 10px;
  padding-bottom: 6px;
  font-size: 12px;
}

$starHalf: 16px / 2;
$rate1: 2*$starHalf;
$rate1-5: 3*$starHalf;
$rate2: 4*$starHalf;
$rate2-5: 5*$starHalf;
$rate3: 6*$starHalf;
$rate3-5: 7*$starHalf;
$rate4: 8*$starHalf;
$rate4-5: 9*$starHalf;
$rate5 : 10*$starHalf;

.content__main__shop__each{
  margin: 18px 0;
  border-top: solid 2px $shop_border;
  height: 280px;
  &__header{
    padding: 13px 10px 13px 10px;
    width: 770px;
    border-bottom: 1px solid $shopindex_back;
    display: inline-block;
    &__inner{
      border-left: 3px solid #e1e1e1;
      padding-left: 1em;
      float: left;
      a.rst_name{
        color: $link_blue;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
      }
    }
    ul.btn{
      float: right;
    }
  }
  &__body{
    &__left{
      float: left;
      width: 160px;
      height: 193px;
      margin-top: 10px;
      margin-left: 10px;
      &__frame{
        padding: 4px;
        border: 1px solid $shop_border;
        width: 160px;
        height: 160px;
        background-color: $white;
        img.photo1{
          width: 150px;
          height: 150px;
        }
      }
      ul.photolist{
        margin-top: 10px;
        list-style: none;
        li.photolist{
          float: left;
          margin-right: 3px;
          width: 27px;
          height: 27px;
          overflow: hidden;
          img.photo1,img.photo2, img.photo3, img.photo4, img.photo5{
            width: 27px;
            height: 27px;
          }
        }
      }
    }
    &__right{
       float: left;
       padding-left: 22px;
      p.pr{
        margin-top: 1.4rem;
        color: $shop_font;
        font-weight: bold;
        font-size: 12px;
      }
      &__rate{
        margin-top: 1rem;
        span.star-actived{
          position: relative;
          display: inline-block;
          width: 10*$starHalf;
          height: 2*$starHalf;
          font-size: 2*$starHalf;
          &:before,&:after{
            position: absolute;
            top: 0;
            left: 0;
            content: '★★★★★';
            display: inline-block;
            height: 2*$starHalf;
            line-height: 2*$starHalf;
          }
          &:before{
          color: #ddd;
          }
          &:after{
          color: #ffa500;
          overflow: hidden;
          white-space: nowrap;}
        }
        .rate-0:after{
          width: 0;
        }
        .rate-5:after{
          width: $starHalf
        }
        .rate-10:after{
          width: $rate1;
        }
        .rate-15:after{
          width: $rate1-5;
        }
        .rate-20:after{
          width: $rate2;
        }
        .rate-25:after{
          width: $rate2-5;
        }
        .rate-30:after{
          width: $rate3;
        }
        .rate-35:after{
          width: $rate3-5;
        }
        .rate-40:after{
          width: $rate4;
        }
        .rate-45:after{
          width: $rate4-5;
        }
        .rate-50:after{
          width: $rate5;
        }
        span.num{
          font-size: 19px;
          font-weight: bold;
        }
        a.review{
          font-size: 12px;
          color: $black;
          text-decoration: underline;
        }
      }
      &__review{
        border-radius: 3px;
        background-color: $newshop_background;
        margin-top: 1rem;
        padding: 1.1rem 1.2rem 1.3rem;
        a.title{
          border-bottom: dotted 1px;
          font-weight: bold;
          font-size: 12px;
          color: $black;
        }
        span.name{
          font-size: 10px;
          padding-left: 5px;
        }
        p.review{
          font-size: 1.1rem;
          margin-top: 0.6rem;
        }
      }
    }
  }
}

.content__main__page{
  padding: 20px 0;
  border-top: 1px solid $border-bottom;
  border-bottom: 1px solid $border-bottom;
  width: 100%;
  background-color: $newshop_background;
  nav{
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    ul.pagination{
      display: inline-block;
      color: #13131e;
      text-align: center;
      box-sizing: border-box;
      min-width: 3.2rem;
      height: 3.2rem;
      li.page-item.active{
        display: inline-block;
        color: #13131e;
        text-align: center;
        box-sizing: border-box;
        min-width: 3.2rem;
        height: 3.2rem;
        display: table-cell;
        vertical-align: middle;
        border-bottom: 2px solid #d6ceb4;
        padding: 0 0.9rem;
        line-height: 3.2rem;
        background-color: $newshop_background;
        a.page-link{
          border-bottom: 2px solid #d6ceb4;
          padding: 0 0.9rem;
          line-height: 3.2rem;
          background-color: $newshop_background;
        }
      }
      li.page-item{
        display: inline-block;
        color: #13131e;
        text-align: center;
        box-sizing: border-box;
        min-width: 3.2rem;
        height: 3.2rem;
        display: table-cell;
        vertical-align: middle;
        .page-link{
          color: $black;
          position: relative;
          border-top: 1px solid #eeece4;
          border-bottom: 1px solid #eeece4;
          background-color: #fff;
          padding: 0 0.7rem;
          line-height: 3rem;
        }
      }
    }
  }
}
