html {
  font-size: 62.5%;
}

.location{
  margin: 0 auto;
  width: 980px;
  padding: 15px 0;
  height: 15px;
  font-size: 92%;
    &__left{
      ul {
        list-style: none;
        float:left;
        li{
          display: inline-block;
        }
      }
    }
    &__right{
      float: right;
      ul{
        list-style: none;
      }
        li{
          display: inline-block;
        }
    }
}

.main{
  margin: 0 auto;
  width: 980px;
}

.main{
  &__heading{
    display: table;
    border-top: 3px solid $newshop_line;
    border-bottom: 3px solid $newshop_line;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    font-weight: bold;
    padding: 1rem 1rem 0.9rem 1.2rem;
    font-size: 1.6rem;
  }
}

.main{
  &__notice{
    margin: 15px 12px;
  }
}

.main{
  &__rst-form{
    &__title{
      margin-top: 18px;
      display: table;
      width: 100%;
      color: #000;
      font-weight: bold;
      border-top: 2px solid $newshop_line;
      background: $newshop_title_background;
      padding: 1.1rem 1rem 0.9rem 1.2rem;
      box-sizing: border-box;
      font-size: 1.4rem;

    }
  }
}

.main{
  table.input{
    border-top: 1px solid $newshop_line;
    width: 100%;
  }
  tbody{
    border-top: 1px solid $newshop_line;
  }
  tr{
    height: 60px;
    border-bottom: 1px solid $newshop_line;
    th{
      font-size: 12px;
      line-height: 18px;
      padding: 8px 13px;
      width: 174px;
      font-weight: bold;
      text-align: left;
      background-color: $newshop_background;
      .emphasis {
        background-color: red;
        border-radius: 2px;
        color: $white;
        font-size: 11px;
        margin: 2px;
        height: 18px;
        width: 30px;
        float: right;
        padding: 2px 3px;
      }
    }
    td{
      background-color: $white;
      display: inline-block;
      vertical-align: middle;
      padding: 10px;
      font-size: 1.3rem;
      input{
        width: 750px;
        height: 25px;

      }
      .notice{
        color: $newshop_notice;
        font-size: 92%;
        padding-top: 4px;
      }
    }
  }
  #searchAddressBtn {
    margin-top: 5px;
  }

  #shop_latitude {
    margin-top: 5px;
    width: 70%;
  }

  #shop_longitude {
    width: 70%;
  }
  // tr.google-map {
  //   height: 200px;
  //   border-bottom: 1px solid $newshop_line;
  // }
  .p.attention{
    color: red;
    font-size: 12px;
    padding-top: 8px;
  }
}

.main__rst-form__footer{
  background-color: $newshop_background;
  height: 48px;
  padding: 10px;
  border-bottom: 1px solid $newshop_line;
  &__btn{
    display: table;
    margin: auto;
    table-layout: fixed;
    box-sizing: border-box;
    &__back{
      display: table-cell;
      text-align: center;
      cursor: pointer;
      border: 1px solid $grey;
      border-radius: 3px;
      color: $black;
      font-weight: bold;
      padding: 0.6rem 1.2rem;
      font-size: 1.2rem;
      background-color: $white;
      height: 18px;
    }
    &__submit{
      margin-left: 10px;
      .submit_btn{
        text-align: center;
        cursor: pointer;
        border: 1px solid $send_border;
        border-radius: 3px;
        color: $white;
        font-weight: bold;
        padding: 0.6rem 1.2rem;
        font-size: 1.2rem;
        background-color: $send_background;
      }
    }
  }
}

